body {
  background-color: #00081f
}
div.container {
  color: #1ed760;
  background-color: #282828;
  height: 200px;
  width: 100%;
  padding-left: 30px;
  margin: 0;
  border: none;
}
a.navbar-brand h1 {
  background-color: #282828;
  font-family: 'Proxima Nova';
  font-style: bold;
  font-size: 30px;
  color: #1ed760;
  padding: 0px 15px 15px 190px;
  border: none;

}

a.navbar-brand h3 {
  padding: 0px 15px 15px 190px;
  font-family: 'Proxima Nova', 'Bold';

}

a.logo img.logo {
  padding: -20px 15px 15px 15px;
  z-index: 2;
  height: 120px;
  width: 120px;
}
.navbar-brand {
  padding: 0px;
}

ul.nav.navbar-nav {
    padding-left: 32%;
    border: none;
}

a.navbar-brand a.logo {
  padding: -20px 0px 15px 15px;
  z-index: 1;
}
div.content {
  padding: 2%;
}
h1 {
  padding-bottom: 0;
  color: #1ed760;
  font-family: Proxima Nova;
  padding: 0px 10px 10px 170px;
}

h2 {
  font-size: 3em;
  color: #1ed760;
  font-family: Proxima Nova;
  padding: 35px 10px 0px 180px;
  letter-spacing: 1px;
}

p {
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 0;
}
.content {
    padding: 40px;
}
#loading-gif {
  height: 30px;
  width: 30px;
}
#spotify-player {
    padding-left: 42%;
    padding-top: -5%;
}
