body {
	background-color: #141414;
    font-family: Proxima Nova;
    left: 200px;
}
h1 {
    font-size: 1em;
    padding-bottom: 0;
    color: #1ed760;
    font-family: Proxima Nova;
    padding: 0px 10px 10px 270px;
}
h2 {
    font-size: 3em;
    color: #1ed760;
    font-family: Proxima Nova;
    padding: 35px 10px 0px 180px;
    letter-spacing: 1px;

    
}
p {
    font-size: 1.5em;
    margin-top: 0;
    padding-top: 0;
}

.hidden {


    
    }