body {
	background-color: #44ddff;
    font-family:"Brush Script MT", cursive;
    left: 200px;
}
h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
    padding-bottom: 0;
}
p {
    font-size: 1.5em;
    margin-top: 0;
    padding-top: 0;
}
#content {
    display: none;
    left: 450px;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 340px;
    z-index: 1000;
    width: 100px;
    height: 100px;
    
    }