body {
	background-color: #141414;
    font-family: Proxima Nova;
    left: 200px;
}
h1 {
    font-size: 1em;
    padding-bottom: 0;
    color: #68cf87;
    font-family: Proxima Nova;
    padding: 0px 10px 10px 80px;
}
h2 {
    font-size: 2em;
    color: #68cf87;
    font-family: Proxima Nova;
    padding: 35px 10px 0px 80px;
    
}
p {
    font-size: 1.5em;
    margin-top: 0;
    padding-top: 0;
}
#content {
    display: none;
    left: 450px;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 340px;
    z-index: 1000;
    width: 100px;
    height: 100px;
    
    }