html
  head
    title= title
    link(href='/css/styles.scss', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/spotify-web-api.js')
    script(src='/main.js')
    script(src='https://use.typekit.net/grz5lft.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}


body
h2= 'Spotify Shuffle'
h1= title
a.btn.btn-primary(href='/login') Log in with Spotify
br
img.loading.hidden(src='/images/spiffygif_176x176.gif', alt='loading your playlist now')
.banner
h2
#content
#spotify-player

