html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/spotify-web-api.js')
    script(src='/main.js')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js')
    link(href='/css/styles.css', rel='stylesheet')


body
  div.top
    .sidebar
      a.logo(href='/')
      img(src='/images/shuffle-logo.png', class='logo')
      h1 Spotify Shuffle
.content
  a.btn.btn-default(href='/login') Log in with Spotify
  br
  h3
  #welcome
  #loading-gif
  .banner
  h2
  #spotify-player
  .card
    img#card1(src='/images/noteCard.png')
    img#card2(src='/images/noteCard2.png')
    img#card3(src='/images/noteCard3.png')
  p.text Shuffle your spotify playlists with this tool. It's easy to be overzealous when adding songs to your collection -- and don't want to piece through all your files. Enjoy rediscovering all the weird tunes in your archive. 
div.footer
  a(href='https://github.com/MawlSetz/Spotify-Shuffle') View Source on Github
