html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='/images/favicon.ico')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/spotify-web-api.js')
    script(src='/main.js')
    script(src='/javascripts/ga.js')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js')
    link(href='http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='/css/styles2.css', rel='stylesheet')
  
  body
    .cover
      .navbar
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-ex-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #navbar-ex-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                #about
                  //- a(href='#') About
      .background-image-fixed.cover-image(style="background-image : url('http://i.imgur.com/nOGtKJr.jpg')")
      .container
        .row
          .col-md-12.text-center.top
            img(src='http://i.imgur.com/q62fWaC.png')
            h1.text-warning Spotify Shuffle
            p.text-warning Use this handy tool to shuffle through your Spotify playlists
            br
            br
            .buttonA
              a.btn.btn-warning.btn-block.btn-lg.col-lg-8.active(href='/login') Click here to begin
              //- a.btn.btn-block.btn-lg.btn-warning Click here to begin
            #spotify-player
            #loading-gif
    .section
      .container
        .row
          .col-md-12
            a(href='https://github.com/MawlSetz/Spotify-Shuffle')
              img.img-responsive.octocat(src='/images/sidewaysOctocat2.png')
    .section
      .container
        .row
          #scrollTarget
          .col-md-6
            img.img-responsive(src='/images/navyAndiFrame2.png')
          .col-md-6
            h1.text-primary A way to shuffle your tunes
            h3 simply . . .
            p
              | Sometimes you need a simple way to shuffle through your tunes. If you're
              | like me, maybe you've been overzealous in your collection of Spotify playlists,
              | and want to discover the songs you favorited and forgot.
            br
            br
            br
            br
            a(href='https://github.com/MawlSetz/Spotify-Shuffle')
              p View source code on github.
    //- .section
    //-   .container
    //-     .row
    //-       .col-md-6
    //-         h1.text-primary
    //-           | About Me
    //-           br
    //-         h3 Developer & Designer
    //-         p(contenteditable='true')
    //-           | If you're reading this, you are probably a potential employer that I have
    //-           | sent this project to as proof of my skills. You can see more at mollysetzer.com
    //-       .col-md-6
    //-         img.center-block.img-circle.img-responsive(src='http://i.imgur.com/LcsOLH6.png')
    //- .section
    //-   .container
