html
  head
    title= title
    link(href='/css/styles.scss', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/spotify-web-api.js')
    script(src='/main.js')


  body
  button(class='btn btn-primary', href='/login') Log in with spotify
  h1= title
<div id='loading'>YOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</div>
<div id='content'>
<div id="spotify-player"></div>
</div>


